<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Punto de Vista: Comportamiento de la Aplicación</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../css/model.css">
	<link type="text/css" rel="stylesheet" href="../css/i18n.css">
	<script type="text/javascript" src="../js/frame.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Punto de Vista: Comportamiento de la Aplicación</b>
			(<span class="i18n-viewpoint-0"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint0" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/00000015.png" alt="Punto de Vista: Comportamiento de la Aplicación">
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<tr><td> <a href="../elements/950e6b4b.html" target="element"> ERPNext </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/80a357b8.html" target="element"> Compras </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/c997cf98.html" target="element"> Recursos Humanos </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/85c931b5.html" target="element"> CRM </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										
										<tr><td> <a href="../elements/90899ab0.html" target="element"> Ventas </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/2f434c3b.html" target="element"> Cotización </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/fba37db1.html" target="element"> Órdenes de Venta </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/f4fd6c8e.html" target="element"> Análisis de Ventas </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/5eea5a02.html" target="element"> Campañas </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/04363427.html" target="element"> Listas de Precios </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/6459f7ee.html" target="element"> Equipos de Ventas </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										
										<tr><td> <a href="../elements/ab869613.html" target="element"> Contabilidad </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/0a553e22.html" target="element"> Facturación </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/5ceee81c.html" target="element"> asiento Contable </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/90021635.html" target="element"> Plan de Cuentas </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/d74cf575.html" target="element"> Flujo de Caja </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/79668f73.html" target="element"> Pagos </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/4416334a.html" target="element"> Centros de Costos </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										
										<tr><td> <a href="../elements/1f78654e.html" target="element"> Almacén </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/69e1bfd4.html" target="element"> Nota de Entrega </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/d3321dfc.html" target="element"> Inventario </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/06713540.html" target="element"> Productos </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/6fb2a588.html" target="element"> Lista de Embalaje </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/1298a776.html" target="element"> Análisis de Existencias </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/617abd41.html" target="element"> Inspección de Calidad </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										
										<tr><td> <a href="../elements/f5473a94.html" target="element"> Gestor de Sitio Web </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/1d12425e.html" target="element"> Página Web </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/f438dcac.html" target="element"> Blog </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/aeba9170.html" target="element"> Configuración </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/b53aa34d.html" target="element"> Formularios </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										
										<tr><td> <a href="../elements/a9ab46d2.html" target="element"> CMS </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/77e44e20.html" target="element"> JFBConnect </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/7f092af2.html" target="element"> VMWishlist </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/8ba2abde.html" target="element"> EasyBlog </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/baac6146.html" target="element"> Compras </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/3d2edab7.html" target="element"> Almacén </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/afde9b8f.html" target="element"> GeoContent </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/6a1027ba.html" target="element"> Website </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/362f1692.html" target="element"> Contabilidad </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/2f023493.html" target="element"> Kunena </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/cdbed571.html" target="element"> Ventas </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/9036d14c.html" target="element"> API Rest </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/d218d9e1.html" target="element"> GeoCommunity </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										
										<tr><td> <a href="../elements/5f526410.html" target="element"> VirtueMart </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/a199fbd1.html" target="element"> Carro de Compras </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/3677c466.html" target="element"> Catálogo de Productos </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/690cfe0d.html" target="element"> Pagos </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/5a173cd1.html" target="element"> Inventario </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										
										<tr><td> <a href="../elements/6390e18f.html" target="element"> EasySocial </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/2dbfd982.html" target="element"> Actividades </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/e9974d83.html" target="element"> Conversaciones </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/a2f1a9ca.html" target="element"> Gestión de Perfil </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/74bd1357.html" target="element"> Grupos </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/0175d9c4.html" target="element"> Gestor de Multimedia </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/44aef7bc.html" target="element"> Gestor de Eventos </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										
										<tr><td> <a href="../elements/b537ebca.html" target="element"> Servicios Web </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
												<tr><td> <a href="../elements/5c71acb1.html" target="element"> Sincronizar Producto </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/be22c3cd.html" target="element"> Sincronizar Compañía </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/0b617652.html" target="element"> Crear Sitio ERP </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/86d9b6a9.html" target="element"> Sincronizar Cliente </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/19d34ccc.html" target="element"> Sincronizar Inventario </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/4abdb89f.html" target="element"> Sincronizar Compra </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/fe3e5671.html" target="element"> Sincronizar Campaña </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>