<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Punto de Vista: Introductorio</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../css/model.css">
	<link type="text/css" rel="stylesheet" href="../css/i18n.css">
	<script type="text/javascript" src="../js/frame.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Punto de Vista: Introductorio</b>
			(<span class="i18n-viewpoint-0"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint0" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/00000001.png" alt="Punto de Vista: Introductorio">
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/b2441e94.html" target="element"> Anfitrión de Virtualización </a> </td><td class="i18n-elementtype-Node"></td></tr>
												<tr><td> <a href="../elements/8d0b808f.html" target="element"> Instancia CMS </a> </td><td class="i18n-elementtype-Node"></td></tr>
														<tr><td> <a href="../elements/feb629f5.html" target="element"> Joomla! </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
												
												<tr><td> <a href="../elements/836ce20d.html" target="element"> Instancia de Base de Datos </a> </td><td class="i18n-elementtype-Node"></td></tr>
														<tr><td> <a href="../elements/20e0042d.html" target="element"> MySQL </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
												
												<tr><td> <a href="../elements/5085c333.html" target="element"> Instancia ERP </a> </td><td class="i18n-elementtype-Node"></td></tr>
														<tr><td> <a href="../elements/f911617d.html" target="element"> ERPNext </a> </td><td class="i18n-elementtype-SystemSoftware"></td></tr>
												
										
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<tr><td> <a href="../elements/d320f358.html" target="element"> Turista </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/fd5103ed.html" target="element"> MiPyME </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/c76c41df.html" target="element"> B2C </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/df639313.html" target="element"> Gestión de Portafolio de Servicios </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/2ae6bbb8.html" target="element"> Gestión de Itinerarios </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/d4903b50.html" target="element"> Gestión de Información </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/540a1fc8.html" target="element"> Comercio Electrónico </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/d8cce2b0.html" target="element"> Georreferenciación </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/30edecb9.html" target="element"> Red Social </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/52c09735.html" target="element"> Sistema de Gestión de Contenidos </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/d5ceddc7.html" target="element"> sistema de Planificación de Recursos Empresariales </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/56b20428.html" target="element"> Interoperabilidad </a> </td><td class="i18n-elementtype-ApplicationCollaboration"></td></tr>
										<tr><td> <a href="../elements/ed75b7a8.html" target="element"> Gestión de Sitios Turisticos </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/0f816bd4.html" target="element"> Gestión de Turistas </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/7e27a10e.html" target="element"> Gestión de MiPyMEs </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/36f3fa78.html" target="element"> Gobernación del Huila </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>