<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Punto de Vista: Procesos de Negocio</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../css/model.css">
	<link type="text/css" rel="stylesheet" href="../css/i18n.css">
	<script type="text/javascript" src="../js/frame.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Punto de Vista: Procesos de Negocio</b>
			(<span class="i18n-viewpoint-0"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint0" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/00000009.png" alt="Punto de Vista: Procesos de Negocio">
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<tr><td> <a href="../elements/64eb7f64.html" target="element"> Gestión de Patrones de Viaje </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/e531b9f3.html" target="element"> Planificar Viaje </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/415f87bc.html" target="element"> Gestionar Itinerario </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/cc8969c7.html" target="element"> Registrar Información de Viaje </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/72073f08.html" target="element"> Venta de Productos </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/9dee0a36.html" target="element"> Cotización </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/aa1fa671.html" target="element"> Reserva </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/c24abdd4.html" target="element"> Pago de Producto </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/9a13c87a.html" target="element"> Exhibición de Producto </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/1b732b34.html" target="element"> Distribución de Producto </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/eb5a976f.html" target="element"> Entrega de producto </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/52f25659.html" target="element"> Manejo de Clientes </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/9b751cbb.html" target="element"> Registro de Cliente </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/49fb338b.html" target="element"> Comunicación con el cliente </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/742fd32e.html" target="element"> Registro de percepción de servicio </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/0535b3dc.html" target="element"> Gestión Financiera </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/ba2b8543.html" target="element"> Gestionar Presupuesto </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/c3326df7.html" target="element"> Prestador de Servicios Turísticos </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/28dbc124.html" target="element"> Portal </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/b1f4bc17.html" target="element"> Gestión de Interacción </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/8e98f9f2.html" target="element"> Registrar Impresiones </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/caab36c9.html" target="element"> Gestionar relaciones </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/1117ca39.html" target="element"> Comunicarse con relacionados </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/e6162ac8.html" target="element"> Gestión de Proveedores de Servicios Turísticos </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/72b0a401.html" target="element"> Registro de Proveedores </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/ec565b4d.html" target="element"> Gestión de información de Proveedor </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/bc521aed.html" target="element"> Gestión de Almacén </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/432fa631.html" target="element"> Ingresar Elementos </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/dbb06989.html" target="element"> Salida de Elementos </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>